td{width: 30px ; height: 30px}
input[type="text"] { height: 50px ; width:187px}
input[type="button"] { background-color: white ;  width: 100% ; height: 50px ; border-width: 0.1px ; border-color: white ; font-size: 15px; font-weight: bold}
input[type="button"].equals{ background-color: orange ; color: white}
input[type="button"].clear{ color: orange ; font-weight: bold ; font-size: 13px}
input[type="button"].operator{ font-size: 17px}
input[type="button"].divide{font-size: 20px; font-weight: normal}
input[type="button"].multiply{font-size: 11px}
input[type="button"].backspace{background-image: url(backspace.JPG); background-repeat: no-repeat; background-size: 85%; background-position: center}
input[type="button"].switch{background-image: url(convert.JPG); background-repeat: no-repeat; background-size: 80%; background-position: center}